# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/

# Runtime
runtime/
*.db
*.sqlite3
*.log

# VSCode / editor
.vscode/
.idea/

# models & large files (if you prefer not to include weights directly)
# models/*.pt

# OS
.DS_Store
Thumbs.db
